/**
 * @file button.css
 * @description Stili per il componente bottone del framework Objectis.
 */

 .obj-button {
    display: inline-block;
    padding: 0.5em;
    background: #ccc;
    color: #333;
    border: 2px outset #ccc;
    cursor: default;
    text-align: center;
    vertical-align: middle;
    
    /* IE6 Fix: Trigger HasLayout per visualizzazione inline-block corretta */
    zoom: 1;
    *display: inline; 
}

.obj-button.obj-button-active {
    background: #c00;
    border: 2px inset #ccc;
}