/**
 * @file button.css
 * @description Stile essenziale per componenti bottone.
 */

 .obj-button {
    display: inline-block;
    margin: 5px;
    padding: 0;
}

.ui-button-inner {
    background-color: #007bff;
    color: #ffffff;
    border: 1px solid #0056b3;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    text-align: center;
}

.ui-button-inner:hover {
    background-color: #0069d9;
}