/**
 * @file button.css
 * @description Stili per il componente bottone Objectis.
 */

 .obj-button {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    background: #444;
    border: 1px solid #666;
    color: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    zoom: 1; /* IE Fix per layout */
}

.obj-button:hover {
    background: #555;
    border-color: #888;
}

.obj-button-active {
    background: #222 !important;
    border-color: #0078d7 !important;
}

.obj-button-label {
    font-size: 12px;
    font-family: Tahoma, sans-serif;
}