/**
 * @file panel.css
 * @description Layout per Objectis Framework con supporto scrollbar console.
 */

#main-viewport {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.obj-panel {
    position: relative; /* Base per il posizionamento assoluto dello slider */
    border: none;
    margin: 10px;
    padding: 0;
    zoom: 1; 
    overflow: hidden;

    background: #fff;
    color:#333;
}

.obj-panel-header {
    background: #333;
    color: #0078d7;
    padding: 5px 10px;
    font-weight: bold;
    border-bottom: 1px solid #444;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
}

.obj-panel-content {
    padding: 10px;
    position: relative;
    zoom: 1;
}

.console-wrapper {
    position: relative;
    background: #000;
    border: 1px solid #444;
    height: 200px;
    overflow: hidden;
}

#system-log-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 20px;
    bottom: 0;
    overflow: hidden;
    color: #960;
    font-family: monospace;
    font-size: 11px;
    padding: 5px;
    background: #f0f0f0;
}

.console-scrollbar {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    width: 12px;
}