/**
 * @file panel.css
 * @description Layout relativo consolidato.
 */

 html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1a1a1a;
    color: #eee;
}

#main-viewport {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.obj-panel {
    position: relative;
    margin: 15px;
    background: #2a2a2a;
    border: 1px solid #444;
    display: block;
    clear: both;
    zoom: 1;
}

.panel-header {
    background: #333;
    padding: 10px;
    border-bottom: 1px solid #444;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
}

.panel-content {
    position: relative;
    padding: 10px;
    /* Rimuoviamo overflow:hidden qui per permettere ai bottoni di respirare */
}