.obj-scrollbar-content {
    /* Ora gestito via JS come absolute */
}

.obj-scrollbar-track {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    background: #eee;
    border: none;
    z-index: 9999;

    padding:0px;
    margin:0px;
}

.obj-scrollbar-thumb {
    position: absolute;
    left: 0px;
    width: 100%;
    background: red;
    border: none;
    cursor: default;

    padding:0px;
    margin:0px;
}

/* Fix per evitare che il contenuto finisca SOTTO la barra */
.obj-scrollbar-content .post-item {
    margin-right: 15px;
}