/**
 * @file slider.css
 * @description Fix per IE6 (Alpha filters).
 */

 .obj-slider {
    position: relative !important;
    overflow: hidden !important;
    zoom: 1; /* Trigger hasLayout per IE6 */
    display: inline-block; /* For modern browsers */
    *display: inline;      /* For IE6/7 */
    *zoom: 1;              /* Triggers hasLayout in IE6/7 */
}

.obj-slider-viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    zoom: 1;
}

.obj-slider-track-y {
    position: absolute;
    z-index: 10;
    background: inherit;
    filter: alpha(opacity=5); /* Fallback IE6 per RGBA */
}

.obj-slider-cursor {
    position: absolute;
    background: green;
    z-index: 11;
    cursor: default;
    overflow: hidden; /* Fix per div vuoti in IE6 */
}

/* Classi di posizionamento */
.scroll-y-right .obj-slider-track-y { top: 0; right: 0; width: 1em; height: 100%; }
.scroll-y-right .obj-slider-cursor-y { right: 2px; width: 1em; }

.scroll-y-left .obj-slider-track-y { top: 0; left: 0; width: 1em; height: 100%; }
.scroll-y-left .obj-slider-cursor-y { left: 2px; width: 1em; }