/**
 * @file layout.css
 * @description Sistema di griglia a celle per Objectis - Namespace protetto per lo scanner.
 */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    font-size: 10pt;
}


/* BLOG START */
#main-viewport {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: green;
}

.title-header {
    font-size: 2em;
    font-weight: bold;
    padding:2em 0.5em;
    margin: 0px;
}

.obj-layout-col.post-content {
    background: #fff;
    padding: 2em;
    font-size: 1em;
    line-height:2em;
}

.post-date { font-style: italic; color: #666; font-size: 11px; }
.post-author { text-align: right; font-weight: bold; margin-top: 10px; }
/* BLOG STOP */